.lh_errorTable{ color:#cc0000; text-align:left; font-size:14px; font-family:Arial, sans-serif; text-align:center; border:1px solid #cc0000; border-spacing:0px; font-weight:bold;  background-color:#ffcccc; padding:0px; margin:5px; width:100%;}
.lh_targetIssueContent{ background-color:#FFFFCC; border:1px solid #bbbbbb;margin:0px; padding:0px; width:100%; }
.lh_issueContent{border:1px solid #bbbbbb;margin:0px; padding:0px; width:100%; }
.lh_recursifContent{border:1px solid #cc0000;margin:0px;  background-color:#ffcccc; padding:0px; width:100%;}
.lh_issueKey{padding:2px; text-align:left; font-size:12px; font-weight:bold; font-family:Arial, sans-serif; }
.lh_issueIcon{text-align:right;}
.lh_contentText{color:#666666; text-align:left; font-size:10px;}
.lh_contentLabel{color:#666666; text-align:left; font-size:11px; font-weight:bold; padding:0px 2px 0px 0px;}
.lh_IssueInfo{margin:0px; text-align:left; padding:2px;}
.lh_treeIssueKey{padding:2px 0px 2px 4px; text-align:left; font-size:12px; font-weight:bold; font-family:Arial, sans-serif; }
.lh_tree{padding:0px 0px 0px 4px;}
.lh_treeButton{padding:0px 0px 0px 4px; cursor:pointer;}
.lh_button { color: #660000; font-size: 12px; font-family: Arial, sans-serif; font-weight:bold; display:inline; vertical-align:middle; text-align:left; margin:0; padding:0; cursor:pointer; text-align:center;}
.lh_actionPopup{ width:170px; background-color:#f0f0f0; border-top:1px solid #bbbbbb; border-right:3px solid #bbbbbb; border-bottom:3px solid #bbbbbb; border-left:1px solid #bbbbbb; border-spacing:0px; padding:5px;}
.lh_noActions{color: #cc0000; font-size: 12px; font-family: Arial, sans-serif; text-align:center; font-style:oblique; padding:0px 20px;}
.lh_inputsPopup{ width:450px; background-color:#f0f0f0; border-top:1px solid #bbbbbb; border-right:3px solid #bbbbbb; border-bottom:3px solid #bbbbbb; border-left:1px solid #bbbbbb; border-spacing:0px; padding:0px 7px;}
.lh_breaklinkPopup{ width:250px; background-color:#f0f0f0; border-top:1px solid #bbbbbb; border-right:3px solid #bbbbbb; border-bottom:3px solid #bbbbbb; border-left:1px solid #bbbbbb; border-spacing:0px; padding:5px;}
.lh_popupTitle{font-size: 13px; background-color:#bbbbbb; font-family: Arial, sans-serif; font-weight:bold; text-align:center; padding:3px 20px;}
.lh_buttonSuite{border-bottom:2px solid #bbbbbb; border-left:2px solid #bbbbbb; background-color:#f0f0f0; text-align:right;}
.lh_actions{font-size: 12px; font-family: Arial, sans-serif; text-align:left; padding:10px 5px 0px}
.lh_linkedIssues{font-size: 12px; font-family: Arial, sans-serif; text-align:left; padding:10px;}
.lh_linkType{color: #003366; font-size: 11px; font-family: Arial, sans-serif; text-align:center; font-style:oblique;}
.lh_linkPopup{width:255px; background-color:#f0f0f0; border-top:1px solid #bbbbbb; border-right:3px solid #bbbbbb; border-bottom:3px solid #bbbbbb; border-left:1px solid #bbbbbb; border-spacing:0px; text-align:left; padding:5px 20px}
.lh_inputSection{display:block;padding:10px 5px 0px}
.lh_inputLabels{ color:#666666; font-size:12px; font-family:Arial, sans-serif; font-weight:bold; white-space:nowrap; }
.lh_link{color:#666666; font-size:12px; font-family:Arial, sans-serif; white-space:nowrap; cursor:pointer; text-decoration:underline;}
.lh_link_shadow{color:#666666; font-size:12px; font-family:Arial, sans-serif; white-space:nowrap; }
.lh_breakbox{ vertical-align:text-bottom;padding:0px 0px 3px; }
.lh_desc{ color:#666666; font-size:10px; }
.lh_error{ color: #cc0000; padding:1px 5px; font-size: 12px; font-weight: bold; font-family: Arial, sans-serif; text-align: left; }
.lh_status{ color: #666666; font-size: 10px; font-style:oblique; font-family: Arial, sans-serif; text-align: left; }
.lh_stats{ color: #000; font-size: 10px; font-weight: bold; font-style:oblique; font-family: Arial, sans-serif; text-align: left; }